<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.cice.powersales.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaContacto</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CreaContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaContacto</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaVehiculo</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaConjunta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BusquedaConjunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaOferta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CreaOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaOferta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Oferta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.Oferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaOferta2</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaOferta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaPrecio</servlet-name>
        <servlet-class>com.cice.powersales.servlet.ModificaPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaComentario</servlet-name>
        <servlet-class>com.cice.powersales.servlet.ModificaComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaStock</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CuentaStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaOfertas</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CuentaOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaContactos</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CuentaContactos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarContacto</servlet-name>
        <servlet-class>com.cice.powersales.servlet.EditarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formPedido</servlet-name>
        <servlet-class>com.cice.powersales.servlet.formPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaPedido</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CreaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaPedidos</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaPedidos2</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaPedidos2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaContacto</servlet-name>
        <url-pattern>/CreaContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaContacto</servlet-name>
        <url-pattern>/BuscaContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaVehiculo</servlet-name>
        <url-pattern>/BuscaVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaConjunta</servlet-name>
        <url-pattern>/BusquedaConjunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaOferta</servlet-name>
        <url-pattern>/CreaOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaOferta</servlet-name>
        <url-pattern>/BuscaOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Oferta</servlet-name>
        <url-pattern>/Oferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaOferta2</servlet-name>
        <url-pattern>/BuscaOferta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaPrecio</servlet-name>
        <url-pattern>/ModificaPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaComentario</servlet-name>
        <url-pattern>/ModificaComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaStock</servlet-name>
        <url-pattern>/CuentaStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaOfertas</servlet-name>
        <url-pattern>/CuentaOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaContactos</servlet-name>
        <url-pattern>/CuentaContactos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarContacto</servlet-name>
        <url-pattern>/EditarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formPedido</servlet-name>
        <url-pattern>/formPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaPedido</servlet-name>
        <url-pattern>/CreaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaPedidos</servlet-name>
        <url-pattern>/BuscaPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaPedidos2</servlet-name>
        <url-pattern>/BuscaPedidos2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
