<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.cice.powersales.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaContacto</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CreaContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaContacto</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaVehiculo</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaConjunta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BusquedaConjunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaOferta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.CreaOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaOferta</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaOferta2</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaOferta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaOferta3</servlet-name>
        <servlet-class>com.cice.powersales.servlet.BuscaOferta3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaContacto</servlet-name>
        <url-pattern>/CreaContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaContacto</servlet-name>
        <url-pattern>/BuscaContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaVehiculo</servlet-name>
        <url-pattern>/BuscaVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaConjunta</servlet-name>
        <url-pattern>/BusquedaConjunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaOferta</servlet-name>
        <url-pattern>/CreaOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaOferta</servlet-name>
        <url-pattern>/BuscaOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaOferta2</servlet-name>
        <url-pattern>/BuscaOferta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaOferta3</servlet-name>
        <url-pattern>/BuscaOferta3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
